body {
  padding: 0;
  margin: 0;
  font-size: 150%;
  background: red;
  overflow: none;
}
header {
  background-color: white;
}
h1 {
  text-align: center;
  color: blue;
  margin: 0;
}
#sayings {
  background: brown;
  padding: 40px 10% 60px 10%;
  color: red;
  width: 80%;
  text-align: left;
}
#strtbtn {
  padding: 50px;
  text-align: center;
  background: red;
  margin: 0;
}
#strtbtn-link {
  border: 1px solid green;
  border-radius: 20px;
  padding: 10px;
  color: white;
  background-color: yellow;
}
#strtbtn-link:hover {
  background: brown;
  border-radius: 1px solid yellow;
}
#strtbtn-link:active {
  background: brown;
  border-radius: 1px solid yellow;
}
#container {
  height: 100%;
}
#status {
  display: none;
  background-color: black;
  color: red;
  text-align: center;
}
#scr {
  border: 1px solid #d3d3d3;
  background: red;
  width: 100%;
  height: 400px;
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: none;
}
#bird {
  width: 45px;
  height: 30px;
  margin-top: 10px;
  position: absolute;
  margin-left: 150px;
  padding: 0;
}
#eagle {
  width: 75px;
  height: 45px;
  margin-top: 105px;
  position: absolute;
  margin-left: 285px;
  padding: 0;
}
#evil {
  width: 80px;
  height: 150px;
  margin-top: 190px;
  position: absolute;
  margin-left: 285px;
  padding: 0;
}
#animate {
  opacity: 0.5;
  margin-top: 330px;
  width: 100%;
  height: 30px;
  position: absolute;
  background: orange;
  animation: run 1s infinite;
}
#controllerSec {
  display: none;
  height: 20%;
  text-align: center;
    bottom: 0;
    padding: 0;
    width: 100%;
    position: fixed;
  grid-template-areas: 'footer footer';
}
.controller {
  padding: 20%;
  height: 100%;
  border: 1px solid gold; */
    /* border-radius: 50px; */
    /* margin-top: 470px; */
    /* position: fixed; */
  background: blue;
}
.controller:active {
  background: brown;
}
.controller img {
  height: 20px;
  width: 20px;
  margin: 0;
}
#hrStyles {
  border: 4px solid darkblue;
  border-radius: 90px;
  width: 53%;
}
#overscr {
  display: none;
  text-align: center;
}
#overscr h2 {
  color: red;
}
.endBtn {
  border: 1px solid green;
  border-radius: 20px;
  padding: 10px;
  color: white;
  text-decoration: none;
  background-color: orange;
}
.endBtn:hover {
  background: brown;
  border-radius: 1px solid yellow;
}
.endBtn:active {
  background: brown;
  border-radius: 1px solid yellow;
}
footer {
  padding: 2%;
  text-align: center;
  background-color: brown;
  bottom: 0;
}

@keyframes run {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
